# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Credenciales y secretos
.env
*.json
credentials/
secrets/
service_account/
.earthengine/

# Datos grandes o privados
data/raw/*
data/processed/*
data/synthetic/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/synthetic/.gitkeep

# Modelos y resultados generados
models/*
!models/.gitkeep

results/figures/*
results/metrics/*
!results/figures/.gitkeep
!results/metrics/.gitkeep

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
